# Flask Core
Flask
Flask-CORS
Flask-RESTful
Flask-SQLAlchemy
Flask-Migrate

# Database
SQLAlchemy
psycopg2-binary
GeoAlchemy2

# API & Utilities
requests
python-dotenv
marshmallow
Werkzeug
gunicorn

# Data Processing
pandas
geopandas
matplotlib
seaborn

# Testing
pytest
pytest-flask

# OSMNX
osmnx==2.0.6